.game-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.game-container > * {
    flex-basis: 100%;
}

.items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.items > * {
    padding: 1em;
}

.game-button{
    background-color: rgba(255,255,255, 0);
    border: none;
}

.item-highlight:hover{
    background-color: rgba(255,255,255, 0.5);
    border-radius: 12px;
}


.text{
    text-align: center;
    font-size: 8rem;
    color: #BD0000;
    padding: 1rem;
}

#reset-button{
    padding: 1rem
}

#reset-button:hover{
    background-color: rgba(255,255,255, 0.5);
    border-radius: 12px;
}